<% was_validated = author.errors.any? %>

<%= form_with(model: author, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = author.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% author.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% book_class = "form-control" %>
    <% book_was_invalid = author.errors.include?(:book) %>

    <% if was_validated %>
      <% if book_was_invalid %>
        <% book_class << " is-invalid" %>
      <% else %>
        <% book_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :book_id %>
    <%= f.number_field :book_id, class: book_class, placeholder: "Enter book" %>
    <% if book_was_invalid %>
      <% author.errors.full_messages_for(:book).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% author_headshot_class = "form-control" %>
    <% author_headshot_was_invalid = author.errors.include?(:author_headshot) %>

    <% if was_validated %>
      <% if author_headshot_was_invalid %>
        <% author_headshot_class << " is-invalid" %>
      <% else %>
        <% author_headshot_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :author_headshot %>
    <%= f.text_field :author_headshot, class: author_headshot_class, placeholder: "Enter author headshot" %>
    <% if author_headshot_was_invalid %>
      <% author.errors.full_messages_for(:author_headshot).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
